extends layout.pug 

block content
    div.container
        h1 Create Post

        if err
            p.error Post should not be empty

        if success
            p.success Post is created successfully
            
        form.form(action="/create" method='POST')
            label Title
            input.input(type="text" name='title')

            label Description
            textarea.input(type="text" name='description')

            button.btn Create Post
