doctype html
html(lang="en")
    head
        title Blog Post
        link(rel='stylesheet' href='/static/styles.css')
    body 
        header.navbar  
            h1
                a(href='/') Blog Post

            
            nav.nav
                a(href='/posts') All Posts
                a(href='/archive') Archived Posts
            
    block content
