doctype html
html(lang="en")
    head
        title To Do App
        link(rel='stylesheet' href='/static/styles.css')
    body 
        header.navbar  
            h1
                a(href='/') To Do App

            
            nav.nav
                a(href='/to-do') To do List 
                a(href='/archive') Archive
            
    block content
