extends layout.pug 

block content 
    div.container 
        h1 All the posts
        if posts.length
            each post in posts
                div.post-wrapper
                    a.post(href=`/posts/${ post.id }`) #{ post.title } 
                    a.delete(href=`/posts/${ post.id }/delete`) Delete 
        else 
            p.NoPost No Any Post Here 