:root {
    font-size: 18px;
    color: white;
    font-family: 'Times New Roman', Times, serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}


body {
    background-image: url('image.jfif');
    background-repeat: no-repeat;
    background-size: cover;
}


a:hover {
    color: rgb(184, 150, 127);
}

.navbar {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom:1px solid white ;
    padding: 10px;
}

.nav a {
display: inline-block;
padding: 5px 10px;

}

/*  Home Page */

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 10px;
}

.intro-sen {
    font-size: 2rem;
    max-width: 60%;
    padding: 100px 0 30px 0;
}

.create-link {
    display: inline-block;
    padding: 10px 20px;
    background-color:#ccc;
}




/*  Create page styles */

.form {
    max-width: 60%;

}

.input{
    width: 100%;;
    display: block;
    padding: 10px;
    font-size: 1.3rem;
    font-family: inherit;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #ccc;
    color: #fff;
    font-size: 1.3rem;
    border: none;
    padding: 10px 20px;
    font-family: inherit;


}

.btn:hover{
color: rgb(184, 150, 127)
;

}

.wrapper-each-post {
    border-left:2px solid white;
    margin: 10px auto;
    
}
/*  Blog posts page  */
.post-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 60%;
    padding:10px;
    align-items: center;
   
}


.post {
    font-size: 1.3rem;

}



.description {
    padding:10px;
    font-size: 1.1rem;
    margin: 5px;
}

.snippet {
    font-size: 1.2rem;
    padding: 10px;
    
}

.snippet-post {
    padding:0px 15px;
}

.delete {
    display: inline-block;
    padding: 5px 15px;
    background-color: #ccc;
    color: #fff;
}


.error {
    display: inline-block;
    padding: 10px;
    border: 1px solid red;
    font-size: 1.2rem;
    color: red;
}


.success {
    display: inline-block;
    padding: 10px;
    border: 3px solid green;
    font-size: 1.2rem;
    color: white;
    margin: 15px 0;

}

.posts-title,
.NoPost {
    
    text-align: center;
}

.NoPost {
    font-size: 1.5rem;
    padding:30px;
    margin-top: 30px;
}

.archive{
    font-size: 1.2rem;
    

}

.detail-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}