:root {
    font-size: 18px;
    color: #444;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: tomato;
}

.navbar {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom:1px solid #ccc ;
    padding: 10px;
}

.nav a {
display: inline-block;
padding: 5px 10px;

}

/*  Home Page */

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.intro-sen {
    font-size: 2rem;
    max-width: 60%;
    padding: 100px 0 30px 0;
}

.create-link {
    display: inline-block;
    padding: 10px 20px;
    background-color:tomato ;
}


/*  Create page styles */

.form {
    max-width: 60%;

}

.input{
    width: 100%;;
    display: block;
    padding: 10px;
    font-size: 1.3rem;
    font-family: inherit;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: tomato;
    color: #fff;
    font-size: 1.3rem;
    border: none;
    padding: 10px 20px;
    font-family: inherit;


}


/*  Blog posts page  */
.post-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 60%;
    padding:10px;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.post {
    font-size: 1.3rem;
}

.delete {
    display: inline-block;
    padding: 5px 10px;
    background-color: tomato;
    color: #fff;
}


.error {
    display: inline-block;
    padding: 10px;
    border: 1px solid red;
    font-size: 1.2rem;
    color: red;
}


.success {
    display: inline-block;
    padding: 10px;
    border: 1px solid green;
    font-size: 1.2rem;
    color: green;
}